{%extends 'main/base.html'%}
{%load static%}
 
    
{%block about%}

    <div class="about">
        <div class="img"><img src="{% static 'gym/img/about.jpg'%}" alt="" srcset=""></div>
        <div class="container-description-about">
             <h1>О нас</h1>
            <p>THE IMPERIA – это 3 500 кв. м. тренировочного пространства и максимального комплекса фитнес услуг в одном месте.</p></div>    
    </div>

{%endblock%}
{%block cards%}
<section class="card-section-ab">
    <div class="cards-ab">
        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        <a href="" class="link-card-about">
            <div class="card-ab">
                <div class="card-image-ab">
                  <img src="{% static 'gym/img/about.jpg'%}" alt="Image">
                  <div class="card-text-ab">
                    <h3>Card Title</h3>
                    <p>Card description goes here.</p>
                  </div>
                </div>
              </div>
        </a>

        

        
        
        
    



    </div>
</section>

    

{%endblock cards%}




