
{%load static%}
{%load gym_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{%static 'gym/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'gym/css/about.css'%}">
    <link rel="stylesheet" href="{%static 'gym/css/schedule.css'%}">
    <link rel="stylesheet" href="{%static 'gym/css/card.css'%}">
    <link rel="stylesheet" href="{%static 'gym/css/main-card.css'%}">
    <link rel="stylesheet" href="{%static 'gym/css/trainer.css'%}">
    <link rel="icon" type="image/ico" href="{%static 'gym/ico/free-icon-gym-machine-3349382.png'%}">

    <script defer src="{% static 'gym/js/scripts.js'%}"></script>
</head>
<body>

    <section class="navigation">
        <header class="header">
           
                <div class="container-nav">
                    <button class="Header-btn-burger" id="Burger">
                        <span></span><span></span><span></span>
                    </button>
                
                    {%get_menu as menu%}
                    
                    <ul class="nav-list">
                        {%for m in menu%}
                        <li class="navlistitem"><a href="{% url m.url_name %}">{{m.title}}</a></li>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <li class="navlistitem"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
                        {% else %}
                        <li class="navlistitem"><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                    
                </div>
        </header>
    </section>



    {% block headsection %}{% endblock %}
    {%block about%} {%endblock about%}
    {%block content%} {%endblock content%}
    {%block cards%}{%endblock%}
    {% block reception %}{%endblock%}
    {% block trainers %}{%endblock%}





    



            <footer class="footer">

                <div class="container-f">
                    <div class="row">
                      <div class="footer-col">
                       
                          Брянск, ул. Дуки 69 Ост. "Курган Бессмертия"

                          +7 (4832)30-36-07
                          |
                          30-36-30
                          imperia-op@yandex.ru
                          Все права защищены 2013-2024 © Фитнес-клуб «THE IMPERIA»

                          Политика обработки персональных данных
                          Сайт разработан студией RBand
                        </div>
                      </div>
                    </div>
                   </div>
            </footer>
       
       
       
       
        </div>
    </section>
</body>
</html>