{%extends 'main/base.html'%}
{%load static%}

{%block cards%}
    <div class="back-img"><img src="{%static 'gym/img/bacground-schedule.jpg'%}"></div>
    <div class="container_schedule">
        <div class="schedule_title">Расписание занятий</div>
        
        
        <div class="schedule_blocks">

            <div class="schedule_block">
                <div class="schedule_img"><img src="{%static 'gym/img/card-training-shed.jpg'%}"></div>
                <div class="schedule_title-card">
                    <div class="trainers-name">Dmitry Makarov</div>
                    <div class="trainer-desc">training foream,chest, and</div>
                </div>
                <div class="schedule_desc">13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday <a href="#">Записаться</a> </div>
            </div>
            <div class="schedule_block">
                <div class="schedule_img"><img src="{%static 'gym/img/card-training-shed.jpg'%}"></div>
                <div class="schedule_title-card">
                    <div class="trainers-name">Dmitry Makarov</div>
                    <div class="trainer-desc">training foream,chest, and</div>
                </div>
                <div class="schedule_desc">13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday <a href="#">Записаться</a> </div>
            </div>
            <div class="schedule_block">
                <div class="schedule_img"><img src="{%static 'gym/img/card-training-shed.jpg'%}"></div>
                <div class="schedule_title-card">
                    <div class="trainers-name">Dmitry Makarov</div>
                    <div class="trainer-desc">training foream,chest, and</div>
                </div>
                <div class="schedule_desc">13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday <a href="#">Записаться</a> </div>
            </div>
            <div class="schedule_block">
                <div class="schedule_img"><img src="{%static 'gym/img/card-training-shed.jpg'%}"></div>
                <div class="schedule_title-card">
                    <div class="trainers-name">Dmitry Makarov</div>
                    <div class="trainer-desc">training foream,chest, and</div>
                </div>
                <div class="schedule_desc">13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday 13:40 - monday <a href="#">Записаться</a> </div>
            </div>
            
           

            
                       

        </div>
    </div>

{%endblock%}

