{% extends "main/base.html" %}
{%load static%}

{%block content%}
    
        <section class="head-title-trainer">
            <div class="trainer-cont">
                <div class="trainer-cont-wrapper">
                    {%if trainer.profile_photo%}
                    <div class="img-trainer">
                        <img src="{{trainer.profile_photo.url}}" alt="" srcset=""></div>
                    <div class="c-trainer">
                        {%endif%}
                        <div class="title-trainer">Привет меня зовут {{trainer.first_name}} , и я тренер  {{trainer.classes_type}}</div>
                        <div class="description-trainer">
                            <a href="{% url 'home' %}">На главную</a>
                            <a href="#">Записаться</a>
                            <div class="email">{{trainer.email}}</div>
                        </div>



                </div>
            
            </div>
                
            </div>
        </section>


   

{%endblock%}